node_modules
dist/
build/
**/.vscode/*
reports/
coverage/
.aws-sam/
output/
target
druid-operator-chart
druid-bin
**/docker/extensions/**
zookeeper-bin
*_version.txt

*.js
!jest.config.js
!jest.setup.js
*.d.ts

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

.scannerwork

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.pem
**/instance-types/*

.idea/*