-server
-Xms{{jvm_heap_size_min}}
-Xmx{{jvm_heap_size_max}}
-XX:+UseG1GC
-Daws.region={{region}}
-XX:MaxDirectMemorySize=2g
-XX:+ExitOnOutOfMemoryError
-Duser.timezone=UTC
-Dfile.encoding=UTF-8
-Djava.io.tmpdir=var/tmp
-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager
-Djute.maxbuffer=15728640
-Dlog4j2.formatMsgNoLookups=true
{{additional_jvm_config}}