-server
-Xms{{jvm_heap_size_min}}
-Xmx{{jvm_heap_size_max}}
-Daws.region={{region}}
-XX:MaxDirectMemorySize={{direct_memory_size_max}}
-Dcom.sun.xml.bind.v2.bytecode.ClassTailor.noOptimize=true
-XX:+UseG1GC
-XX:+ExitOnOutOfMemoryError
-Duser.timezone=UTC
-Dfile.encoding=UTF-8
-Djava.io.tmpdir=/mnt/disk2/var/tmp
-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager
-Djute.maxbuffer=15728640
-Dlog4j2.formatMsgNoLookups=true
{{additional_jvm_config}}